@model Optik_Arayuz_UI.Models.Exam

@{
    ViewData["Title"] = "Create";
}
<head>

<link rel="stylesheet" href="~/css/FormCard.css">
    <link rel="stylesheet" href="~/css/button.css">
    <link rel="stylesheet" href="~/css/exam.css">
</head>
<div class="Ccontainer">

        <div class="Card">
            <form asp-action="Create">
                <input asp-for="UserId" type="hidden" value="@ViewData["UserId"]" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="Row">
                    <label asp-for="ExamName" class=""></label>
                <input asp-for="ExamName" id="name" class="" />
                    <span asp-validation-for="ExamName" class="text-danger"></span>
                </div>
                <div class="Row">
                    <label asp-for="TestCount" class=""></label>
                    <input asp-for="TestCount" id="test" class="" />
                    <span asp-validation-for="TestCount" class="text-danger"></span>
                </div>
                <div class="Row">
                    <label asp-for="ClassicCount" class=""></label>
                    <input asp-for="ClassicCount" id="classic" class="" />
                    <span asp-validation-for="ClassicCount" class="text-danger"></span>
                </div>
                <div class="Row">
                    <div style="display:flex;gap:10px;height:20px;">
                    <label asp-for="ExamPaperId" class=""></label>
                    <a id="copy"><img alt="Sınav Kağıdını Kopyala" style=" width:20px;height:20px;" src=@Url.Content("~/ExamPaper.png") /> </a>
                    </div>
                    <select id="select" asp-for="ExamPaperId" class="form-control" asp-items="ViewBag.ExamPaperId"></select>
                </div>

                <div class="buton">
                    <input type="submit" value="Oluştur" class="button" />
                </div>
            </form>
        </div>

    <div class="buton">
        <a class="button" asp-action="Index">Sınav Listesine Dön</a>
    </div>
</div>
<div id="alert" class="Alert"></div>

<script src="~/js/copy.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
