@model Optik_Arayuz_UI.Models.Exam

@{
    ViewData["Title"] = "Create";
}
<head>

<link rel="stylesheet" href="~/css/FormCard.css">
<link rel="stylesheet" href="~/css/button.css">
</head>

<div class="Ccontainer">

        <div class="Card">
            <form asp-action="Create">
                <input asp-for="UserId" type="hidden" value="@ViewData["UserId"]" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="Row">
                    <label asp-for="ExamName" class=""></label>
                    <input asp-for="ExamName" class="" />
                    <span asp-validation-for="ExamName" class="text-danger"></span>
                </div>
                <div class="Row">
                    <label asp-for="TestCount" class=""></label>
                    <input asp-for="TestCount" class="form-control" />
                    <span asp-validation-for="TestCount" class="text-danger"></span>
                </div>
                <div class="Row">
                    <label asp-for="ClassicCount" class=""></label>
                    <input asp-for="ClassicCount" class="" />
                    <span asp-validation-for="ClassicCount" class="text-danger"></span>
                </div>
                <div class="Row">
                    <label asp-for="ExamPaperId" class=""></label>
                    <select asp-for="ExamPaperId" class="form-control" asp-items="ViewBag.ExamPaperId"></select>
                </div>

                <div class="buton">
                    <input type="submit" value="Oluştur" class="button" />
                </div>
            </form>
        </div>

    <div class="buton">
        <a class="button" asp-action="Index">Sınav Listesine Dön</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
