@model Optik_Arayuz_UI.Models.Exam

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/input.css" asp-append-version="true">


<div class="Rcontainer">

    <h4>Seçilen Sınavı Düzenle</h4>
    <hr />
    <div class="">
        <div class="">
            <form asp-action="Edit">
                <input asp-for="UserId" type="hidden" value="1" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ExamId" />
                <dl>
                    <dt>
                        <label class="">Sınav Adı</label>
                    </dt>
                    <dd>
                        <input asp-for="ExamName" class="input" />
                        <span asp-validation-for="ExamName" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label class="">Test Sayısı</label>
                    </dt>
                    <dd>
                        <input asp-for="TestCount" class="input" />
                        <span asp-validation-for="TestCount" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label class="">Klasik Sayısı</label>
                    </dt>
                    <dd>
                        <input asp-for="ClassicCount" class="input" />
                        <span asp-validation-for="ClassicCount" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label class="">Sınav Kağıdı</label>
                    </dt>
                    <dd>
                        <select asp-for="ExamPaperId" class="form-control" asp-items="ViewBag.ExamPaperId"></select>
                        <span asp-validation-for="ExamPaperId" class="text-danger"></span>
                    </dd>
                    
                </dl>

                <input type="submit" value="Kaydet" class="button" />
        </form>

        </div>
    </div>

</div>
