@model Optik_Arayuz_UI.Models.Announcement

@{
    ViewData["Title"] = "Create";
}

<head>

    <link rel="stylesheet" href="~/css/FormCard.css">
    <link rel="stylesheet" href="~/css/button.css">
</head>
<div class="Ccontainer">
    <div class="Card">
        <form asp-action="Create">
            <input asp-for="UserId" type="hidden" value="1" />
            <input asp-for="AnnouncementDate" type="hidden" value="1" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="Row">
                <label asp-for="AnnouncementName" class=""></label>
                <input asp-for="AnnouncementName" class="" />
                <span asp-validation-for="AnnouncementName" class="text-danger"></span>
            </div>
            <div class="Row">
                <label asp-for="AnnouncementContent" class=""></label>
                <input asp-for="AnnouncementContent" class="" />
                <span asp-validation-for="AnnouncementContent" class="text-danger"></span>
            </div>

            <div class="buton">
                <input type="submit" value="Oluştur" class="button" />
            </div>
        </form>
    </div>
    <div class="buton">
        <a class="button" asp-action="Index">Duyuru Listesine Dön</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
