@model Optik_Arayuz_UI.Models.Announcement

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/input.css" asp-append-version="true">

</head>
<div class="Rcontainer">

    <h4>Fakülteyi Düzenle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    <hr />
    <div class="">
        <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AnnouncementId" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="AnnouncementDate" />
            <dl>
                <dt>
                        <label asp-for="AnnouncementName" ></label>

                </dt>
                <dd>
                        <input asp-for="AnnouncementName" class="input" />
                        <span asp-validation-for="AnnouncementName" class="text-danger"></span>
                </dd>
                    <dt>
                        <label asp-for="AnnouncementContent" ></label>

                    </dt>
                    <dd>
                        <input asp-for="AnnouncementContent" class="input" />
                        <span asp-validation-for="AnnouncementContent" class="text-danger"></span>
                    </dd>

            </dl>
            
                <input type="submit" value="Kaydet" class="button" />
        </form>
    </div>
</div>
</div>
