@{
    var choices = (string[])TempData["choices"];
}
<head>
    <link rel="stylesheet" href="~/css/Choose.css" asp-append-version="true" />
</head>

<div class="choose">
    <div class="label">Kitap turu</div>
    <div class="choices">
        @for(var i = 0; i < choices.Length; i++)
        {
            <div class="div">@choices[i]</div>
            if (!(i == choices.Length-1))
            {
                <span class="line"></span>

            }
        }
       
    </div>
</div>
