@model Optik_Arayuz_UI.Models.Faculty

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <link rel="stylesheet" href="~/css/FormCard.css">
    <link rel="stylesheet" href="~/css/button.css">
</head>

<div class="Ccontainer">
    <div class="Card">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="Row">
                <label asp-for="FacultyName" class=""></label>
                <input asp-for="FacultyName" class="" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="Row">
                <label asp-for="FacultyAddress" class=""></label>
                <input asp-for="FacultyAddress" class="" />
                <span asp-validation-for="FacultyAddress" class="text-danger"></span>
            </div>
            <div class="Row">
                <label asp-for="FacultyMail" class=""></label>
                <input asp-for="FacultyMail" class="" />
                <span asp-validation-for="FacultyMail" class="text-danger"></span>
            </div>
            <div class="Row">
                <label asp-for="FacultyPhoneNumber" class=""></label>
                <input asp-for="FacultyPhoneNumber" class="" />
                <span asp-validation-for="FacultyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="buton">
                <input type="submit" value="Oluştur" class="button" />
            </div>
        </form>
    </div>
    <div class="buton">
        <a class="button" asp-action="Index">Fakülte Listesine Dön</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
