@model Optik_Arayuz_UI.Models.Faculty

@{
    ViewData["Title"] = "Details";

}
<div class="Rcontainer">
    <div>
        <h4>Faculty</h4>
        <hr />
        <dl class="">
            <dt class="">
                Fakülte Adı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.FacultyName)
            </dd>
            <dt class="">
                Fakülte Adresi
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.FacultyAddress)
            </dd>
            <dt class="">
                Fakülte Mail
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.FacultyMail)
            </dd>
            <dt class="">
                Fakülte Numarası
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.FacultyPhoneNumber)
            </dd>
        </dl>
    </div>

</div>

