@model Optik_Arayuz_UI.Models.Faculty

@{
    ViewData["Title"] = "Edit";

}

<link rel="stylesheet" href="~/css/input.css" asp-append-version="true">

<div class="Ccontainer">

    <h4>Fakülteyi Düzenle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    <hr />
    <div class="">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FacultyId" />
                <dl>
                    <dt>
                        <label asp-for="FacultyName"></label>
                    </dt>
                    <dd>
                        <input asp-for="FacultyName" class="input" />
                        <span asp-validation-for="FacultyName" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="FacultyAddress" ></label>

                    </dt>
                    <dd>
                        <input asp-for="FacultyAddress" class="input" />
                        <span asp-validation-for="FacultyAddress" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="FacultyMail" ></label>

                    </dt>
                    <dd>
                        <input asp-for="FacultyMail" class="input" />
                        <span asp-validation-for="FacultyMail" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="FacultyPhoneNumber" ></label>

                    </dt>
                    <dd>
                        <input asp-for="FacultyPhoneNumber" class="input" />
                        <span asp-validation-for="FacultyPhoneNumber" class="text-danger"></span>
                    </dd>
                    
                    
                </dl>

                <input type="submit" value="Kaydet" class="button" />

            </form>
        </div>
    </div>


</div>

