@model IEnumerable<Optik_Arayuz_UI.Models.Exam>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Table.css" asp-append-version="true" />
</head>

<div class="IContainer">
    <h1>Adminn</h1>

   
</div>
