@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";

}
<head>
    <title>Kayıt Ol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <style>
        .custom-select {
            border: 0px;
        }
    </style>
</head>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Kayıt Ol
                </span>
            </div>

            <form class="login100-form validate-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Ad</span>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <input asp-for="Input.FirstName" class="input100" autocomplete="username" aria-required="true" />
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Soyad</span>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <input asp-for="Input.LastName" class="input100" autocomplete="username" aria-required="true" />
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Adres</span>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                    <input asp-for="Input.Address" class="input100" autocomplete="username" aria-required="true" />
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Fakülte</span>
                    <span asp-validation-for="Input.FacultyId" class="text-danger"></span>
                    <select asp-for="Input.FacultyId" class="custom-select" aria-required="true" asp-items="@(new SelectList(Model.faculties, "FacultyId", "FacultyName"))"></select>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Email</span>
                    <span asp-validation-for="Input.FacultyId" class="text-danger"></span>
                    <input asp-for="Input.Email" class="input100" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <input asp-for="Input.Password" class="input100" type="password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <input asp-for="Input.ConfirmPassword" class="input100" aria-required="true" placeholder="password" />
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div>
                        <a id="forgot-password" class="txt1" asp-page="./Login">Kayıtlı mısın? Giriş yap</a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button id="registerSubmit" type="submit" class="login100-form-btn">Kayıt Ol</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
