@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}
<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

</head>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="LoginContainer">
        <h1>@ViewData["Title"]</h1>
        <h4>Yeni Hesap Oluştur</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.FirstName">Ad</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="Ad" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.LastName">Soyad</label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Soyad" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.Address">Adres</label>
                <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" placeholder="Adres" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.FacultyId" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.FacultyId">Faculty Id</label>
                <input asp-for="Input.FacultyId" class="form-control" autocomplete="username" aria-required="true" placeholder="fakülte id" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            </div>
        </div>
        <div class="LoginRow">
            <div class="LoginRowTop">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            </div>
            <div class="LoginRowBottom">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            </div>
        </div>
        
        <button id="registerSubmit" type="submit" class="LoginButton">Kayıt Ol</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
