@{
    ViewData["Title"] = "Exam Paper Create";
}

<div class="container">
    <div class="left">
            <p>Componentler</p>
            <p class="item" id="NumaraKodlama" draggable="true">NumaraKodlama</p>
            <p class="item" id="AdSoyad" draggable="true">AdSoyad</p>
            <p class="item" id="Test" draggable="true">Test</p>
            <p class="item" id="Puanlama" draggable="true">Puanlama</p>
            <p class="item" id="Logo" draggable="true">Logo</p>
            <p class="item box" id="Logo1" draggable="true"></p>
            <p class="item box" id="Logo2" draggable="true"></p>
        </div>
    <div class="A4">
            <div class="leftstripes">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    <div class="right">
            <ul>
                <li>aa</li>
                <li>aa</li>
                <li>aa</li>
                <li>aa</li>
                <li>aa</li>
            </ul>
        </div>
</div>


