@model Optik_Arayuz_UI.Models.Department

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/input.css" asp-append-version="true">

<div class="Ccontainer">

    <h4>Departmanı Düzenle &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    <hr />
    <div class="">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DepartmentId" />
                <dl>
                    <dt>
                        <label asp-for="DepartmentName" ></label>
                    </dt>
                    <dd>
                        <input asp-for="DepartmentName" class="input" />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="DepartmentAddress" ></label>
                    </dt>
                    <dd>
                        <input asp-for="DepartmentAddress" class="input" />
                        <span asp-validation-for="DepartmentAddress" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="DepartmentMail" ></label>

                    </dt>
                    <dd>
                        <input asp-for="DepartmentMail" class="input" />
                        <span asp-validation-for="DepartmentMail" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="DepartmentPhoneNumber" ></label>
                    </dt>
                    <dd>
                        <input asp-for="DepartmentPhoneNumber" class="input" />
                        <span asp-validation-for="DepartmentPhoneNumber" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="FacultyId" ></label>
                    </dt>
                    <dd>
                        <select asp-for="FacultyId" class="input" asp-items="ViewBag.FacultyId"></select>
                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                    </dd>

                </dl>

                <input type="submit" value="Kaydet" class="button" />

            </form>
        </div>
    </div>

</div>

