@model Optik_Arayuz_UI.Models.ExamPaper
@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/FormCard.css">
    <link rel="stylesheet" href="~/css/button.css">
</head>

<div class="Ccontainer">

    <div class="Card">
        <form asp-action="ExamPaperCreate">
            <div class="Row">
                <label asp-for="ExamPaperName" class=""></label>
                <input asp-for="ExamPaperName" class="" />
                <span asp-validation-for="ExamPaperName" class="text-danger"></span>
            </div>
            <div class="Row">
                <label asp-for="ExamPaperTitle" class=""></label>
                <input asp-for="ExamPaperTitle" class="form-control" />
                <span asp-validation-for="ExamPaperTitle" class="text-danger"></span>
            </div>

            <div class="buton">
                <input type="submit" value="Editör Sayfasına Git" class="button" />
            </div>
        </form>
    </div>
</div>
