@model Optik_Arayuz_UI.Models.ExamPaper
@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/ExamPaper.css" asp-append-version="true" />

</head>

<div class="examContainer">
    @using (Html.BeginForm("ExamPaperCreate", "ExamPapers", FormMethod.Post))
    {
        <div class="examRow">
            <div class="label">ExamPaperName :</div>
            @Html.TextBoxFor(m=> m.ExamPaperName)
        </div>

        <div class="examRow">
            <div>ExamPaperTitle :</div>
            @Html.TextBoxFor(m=> m.ExamPaperTitle)
        </div>
        <div class="buttonRow">
            <input class="button" type="submit" value="Editor Sayfasina Git" />
        </div>
    }
</div>
