@model Optik_Arayuz_UI.Models.ExamPaper

@{
    ViewData["Title"] = "Delete";
}
<div class="Ccontainer">
    <h4>Sınav Kağıdını Sil</h4>

    <p style="color:black">Silmek istediğinize emin misiniz?</p>
    <div>
        <hr />
        <dl>
            <dt>
                Sınav Kağıdı Adı
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExamPaperName)
            </dd>
            <dt>
                Sınav Kağıdı Açıklaması
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExamPaperTitle)
            </dd>
        </dl>

        <form asp-controller="ExamPapers" asp-action="Delete">
            <input type="hidden" asp-for="ExamPaperId" />
            <input type="submit" value="Sil" class="button" />
        </form>
    </div>
</div>

