@model Optik_Arayuz_UI.Models.ExamPaper

@{
    ViewData["Title"] = "Details";
}


<div class="Rcontainer">
    <div>
        <h4>Sınav Kağıdı Detayları</h4>
        <hr />
        <dl class="">
            <dt class="">
                Sınav Kağıdı Adı
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamPaperName)
            </dd>
            <dt class="">
                Sınav Kağıdı Açıklaması
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.ExamPaperTitle)
            </dd>
        </dl>
    </div>

</div>

