@model Optik_Arayuz_UI.Models.ExamPaper

@{
    ViewData["Title"] = "Edit";
}

<div class="Ccontainer">
    <h1>Edit</h1>

    <h4>ExamPaper</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ExamPaperId" />
                <div class="form-group">
                    <label asp-for="ExamPaperName" class="control-label"></label>
                    <input asp-for="ExamPaperName" class="form-control" />
                    <span asp-validation-for="ExamPaperName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExamPaperTitle" class="control-label"></label>
                    <input asp-for="ExamPaperTitle" class="form-control" />
                    <span asp-validation-for="ExamPaperTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="ExamPapers" asp-action="ExamPaperCreate" asp-route-id="@Model.ExamPaperId">Edit sayfasına git</a>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


