@model Optik_Arayuz_UI.Models.ExamPaper

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/input.css" asp-append-version="true">

<div class="Rcontainer">

    <h4>Sınav Kağıdını Düzenle</h4>
    <hr />
    <div class="">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ExamPaperId" />
                <dl>
                    <dt>
                        <label class="">Sınav Kağıdı Adı</label>
                    </dt>
                    <dd>
                        <input asp-for="ExamPaperName" class="input" />
                        <span asp-validation-for="ExamPaperName" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label class="">Sınav Kağıdı Açıklaması</label>
                    </dt>
                    <dd>
                        <input asp-for="ExamPaperTitle" class="input" />
                        <span asp-validation-for="ExamPaperTitle" class="text-danger"></span>
                    </dd>
                </dl>
                    
                <input type="submit" value="Kaydet" class="button" />

            </form>
        </div>
    </div>

    <div>
        <a class="button" asp-controller="ExamPapers" asp-action="ExamPaperCreate" asp-route-id="@Model.ExamPaperId">Editör sayfasına git</a>
    </div>
</div>


