<head>
    <link rel="stylesheet" href="~/css/examPaperCreate.css" asp-append-version="true" />

</head>

<div class="A4container">
    <div class="left">
            <p>Componentler</p>
            <p class="item" id="Number" draggable="true">Numara Kodlama</p>
            <p class="item" id="Choice" draggable="true">Kitapçık Türü</p>
            <p class="item" id="Student" draggable="true">Ad Soyad</p>
            <p class="item" id="Test" draggable="true">Test</p>
            <p class="item" id="Grade" draggable="true">Puanlama</p>
            <p class="item" id="Logo" draggable="true">Logo</p>            
            <p class="item" id="Text" draggable="true">Text</p>

        </div>
    <div class="A4">
            <div class="leftstripes">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    <div class="right">
        <p>Özellikler</p>
        <div id ="right"></div>
    </div>
</div>


