@{
    ViewData["Title"] = "Yardım ve İletişim";
}
<div class="Ccontainer">
<h1>@ViewData["Title"]</h1>

 <p style="color:black">Tüm görüş, öneri ve sorularınız için bize aşağıdaki e-mail adreslerinden ulaşabilirsiniz.</p>

<p style="color:black">ismail.ucel@@ogr.sakarya.edu.tr</p>
<p style="color:black">yunus.eminler@@ogr.sakarya.edu.tr</p>

</div>
