@model IEnumerable<Optik_Arayuz_UI.Models.Announcement>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/button.css">

<div class="Menu">
    <div class="menuLeft">
        <h1 class="">Hoşgeldiniz</h1>
        <div class="Links">
            <a class="button" asp-area="" asp-controller="Exams" asp-action="Index">Sınavlar</a>
            <a class="button" asp-area="" asp-controller="ExamPapers" asp-action="Index">Sınav Kağıtları</a>
            <a class="button" asp-area="" asp-controller="Home" asp-action="Help">Yardım</a>
        </div>
    </div>
    <div class="menuRight">
        <div class="Duyurular">
            <div class="duyurularLabel">
                <h1>Duyurular</h1>
            </div>
            <div class="duyurularContent">
                @foreach (var item in Model)
                {
                <div class="card">
                    <h3 class="card__title">
                            @Html.DisplayFor(modelItem => item.AnnouncementName)
                    </h3>
                        <p class="card__content">@Html.DisplayFor(modelItem => item.AnnouncementContent) </p>
                    <div class="card__date">
                            @Html.DisplayFor(modelItem => item.AnnouncementDate) - @Html.DisplayFor(modelItem => item.User.FirstName)
                    </div>
                </div>
                }
            </div>
   
        </div>
    </div>

</div>
