@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="m-3">
        <a asp-area="" asp-controller="Exams" asp-action="Index">Sınavlar</a>
        <a asp-area="" asp-controller="ExamPapers" asp-action="Index">Sınav Kağıtları</a>
        <a asp-area="" asp-controller="Help" asp-action="Index">Yardım</a>
    </div>
    
 

</div>
