@{
    var labels = (string[])TempData["labels"];
    var values = (string[])TempData["values"];
}
<head>
    <link rel="stylesheet" href="~/css/Inputs.css" asp-append-version="true" />
</head>



    @for (var i = 0; i < Convert.ToInt32(ViewData["columnNumber"]); i++)
    {
    var id = "i" + i.ToString();
    <div class="inputs">
            <p>@labels[i]</p>
        <input class="input" id="@id" type="text" value="@values[i]">
        </div>
    }
