@{
    var choices = (string[])TempData["choices"];
    var c = "c";
}
<head>
    <link rel="stylesheet" href="~/css/Choice.css" asp-append-version="true" />
</head>

<div class="choose" style="width: @ViewData["x"]px; height: @ViewData["y"]px;">
    <div class="label">@ViewData["label"]</div>
    <div class="choices">
        @for (var i = 0; i < Convert.ToInt32(ViewData["number"]); i++)
        {
            
            <div>@choices[i]</div>
            if (!(i == choices.Length-1))
            {
                <span class="line"></span>

            }
        }
       
    </div>
</div>
