<head>
    <link rel="stylesheet" href="~/css/Components/Student.css" asp-append-version="true" />
</head>
<div class="student" style="width:@ViewData["x"]px;height:@ViewData["y"]px">
        <div class="sleft">
            <div>Ad :</div>
            <div>Soyad :</div>
            <div>Ders Adı :</div>
        </div>
        <div class="sright">
            <div class="sline"></div>
            <div class="sline"></div>
            <div class="sline"></div>
        </div>
</div>