<head>
    <link rel="stylesheet" href="~/css/Student.css" asp-append-version="true" />
</head>
<div class="student" style="width:@ViewData["x"]px;height:@ViewData["y"]px">
    <div class="left">
        <div class="row">Ad</div>
        <div class="row">Soyad</div>
        <div class="row">Ders Adı</div>
    </div>
    <div class="middle">
        <div class="dots"><b>:</b></div>
        <div class="dots"><b>:</b></div>
        <div class="dots"><b>:</b></div>
    </div>
    <div class="sright">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>