﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Optik Arayüz</title>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
    <header>
        <nav class="Nav">
            <div class="NavLeft">
                <div class="NavLeftItem">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:30px; height:30px;" src=@Url.Content("~/SauLogo.png") /></a>
                </div>

                <div class="NavLeftItem">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </div>
                <div class="NavLeftItem">
                    <div class="myDropdown">
                            <a class="link" asp-area="" asp-controller="Exams" asp-action="Index">Sınavlar <span class="ArrowRight">></span> <span class="ArrowDown">v</span></a>
                            <div class="myContent">
                                <a class="" asp-area="" asp-controller="Exams" asp-action="Index">Listele</a>
                                <a class="" asp-area="" asp-controller="Exams" asp-action="Create">Yeni Oluştur</a>
                            </div>
                    </div>
                </div>
                <div class="NavLeftItem">
                        <div class="myDropdown">
                            <a class="link" asp-area="" asp-controller="ExamPapers" asp-action="Index">Sınav Kağıtları <span class="ArrowRight">></span> <span class="ArrowDown">v</span></a>
                            <div class="myContent">
                                <a class="" asp-area="" asp-controller="ExamPapers" asp-action="Index">Listele</a>
                                <a class="" asp-area="" asp-controller="ExamPapers" asp-action="Create">Yeni Oluştur</a>
                            </div>
                        </div>
                </div>
                @if (User.IsInRole("Admin"))
                    {
                        <div class="NavLeftItem">
                            <div class="myDropdown">
                                <a class="link" asp-area="Admin" asp-controller="Faculties" asp-action="Index">Fakülteler <span class="ArrowRight">></span> <span class="ArrowDown">v</span></a>
                                <div class="myContent">
                                    <a class="" asp-area="Admin" asp-controller="Faculties" asp-action="Index">Listele</a>
                                    <a class="" asp-area="Admin" asp-controller="Faculties" asp-action="Create">Yeni Oluştur</a>
                                </div>
                            </div>
                        </div>
                        <div class="NavLeftItem">
                            <div class="myDropdown">
                                <a class="link" asp-area="Admin" asp-controller="Departments" asp-action="Index">Bölümler <span class="ArrowRight">></span> <span class="ArrowDown">v</span></a>
                                <div class="myContent">
                                    <a class="" asp-area="Admin" asp-controller="Departments" asp-action="Index">Listele</a>
                                    <a class="" asp-area="Admin" asp-controller="Departments" asp-action="Create">Yeni Oluştur</a>
                                </div>
                            </div>
                            
                        </div>
                    }                          
            </div>
            <div class="NavRight">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="NavRightItem">
                            <a asp-controller="Home" asp-action="Index">Merhaba @User.Identity.Name!</a>
                    </div>
                    <div class="NavRightItem">
                        <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="">Çıkış</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="NavRightItem">
                        <a class="" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i>Giriş</a>
                    </div>
                    <div class="NavRightItem">
                        <a class="" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-bell"></i>Kayıt Ol</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    }
    <div class="mid">
            @RenderBody()
    </div>

    <footer class="Footer">
        <div class="FooterMain">
            Yardıma ihtiyacınız mı var ?
            Admin@gmail.com'a mail atın.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
