﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Optik_Arayüz_UI</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <nav class="Nav">
            <div class="NavLeft">
                <div class="NavLeftItem">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Optik Arayüz</a>
                </div>

                <div class="NavLeftItem">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="NavLeftItem">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="NavLeftItem">
                    <a class="" asp-area="" asp-controller="Exams" asp-action="Index">Sınavlar</a>
                </div>
                <div class="NavLeftItem">
                    <a class=""asp-area="" asp-controller="ExamPapers" asp-action="Index">Sınav Kağıtları</a>
                </div>
                <div class="NavLeftItem">
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Faculties" asp-action="Index">Fakülteler</a>
                </div>
               
            </div>
            <div class="NavRight">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="NavRightItem">
                        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba @User.Identity.Name!</a>
                    </div>
                    <div class="NavRightItem">
                        <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="">Çıkış</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="NavRightItem">
                        <a class="" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i>Giriş</a>
                    </div>
                    <div class="NavRightItem">
                        <a class="" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-bell"></i>Kayıt Ol</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="mid">
            @RenderBody()
    </div>

    <footer>
        <div class="FooterMain">
            Burası Footer Kısmı
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
