.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    flex-direction: column;
    border: 1px solid black;
}

.line {
    border-left: 1px solid black;
}

.choices {
    border-top: 1px solid black;
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


    .choices div {
        font-size: smaller;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13px;
        height: 13px;
        margin-left: 2px;
        padding: 1px;
        border: 0.5px solid black;
        border-radius: 50%;
    }
