.student {
    border: 1px solid black;
    width: 175px;
    display: flex;
}

.line {
    height: 20px;
    border-bottom: 1px dotted black;
}

.right {
    margin-right: 4px;
}

.dots {
    padding: 2px;
}

.row {
    padding: 2px;
}

.left {
    flex-grow: 1;
}

.right {
    flex-grow: 6;
}
