.lines {
    display: flex;
    border: 1px solid black;
    border-bottom: 0px;
    justify-content: space-between;
}

.lines:last-child {
    border-bottom: 1px solid black;
}

.number {
    padding-left: 2px;
}

.testCircles {
    border-left: 1px solid black;
    display: flex;
    padding-right: 2px;
    align-items: center;
    margin-bottom: 1px;
}

.lines .testCircles div {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    margin-left: 2px;
    padding: 1px;
    border: 0.5px solid black;
    border-radius: 50%;
}
