.Card {

}

    .Card .Row input {
        padding:10px 10px 10px 10px;
        border: 0px;
        border-bottom:2px solid black;
        border-radius:10px;
    }
        .Card .Row input:hover {
            border-bottom: 2px solid rgba(28, 190, 131, 1);
        }
select {
    // A reset of styles, including removing the default dropdown arrow appearance: none;
    // Additional resets for further consistency background-color: transparent;
    border: none;
    padding: 0 1em 0 10px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
    select::-ms-expand {
        display: none;
    }
.Row {
    display:flex;
    flex-direction:column;
}
    .Row label {
        font-size:15px;
    }
.buton {
    display:flex;
    align-items:center;
    justify-content:center;
}