.LoginContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginRow {
    margin-top:10px;
    width:275px;
}
.LoginRowBottom {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.LoginRowBottom label{
    margin-right:5px;
}

.LoginRowBottom input {
    padding:10px;
}

.LoginButton {
    width: 90px;
    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #3C486B;
    transition: ease-in .3s;
}

    .LoginButton:hover {
        background-color: white;
        color: #3C486B;
        cursor: pointer;
    }

.text-danger {
    color:red;
}