body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    min-height:100vh;
}

.Nav {
    background-color: #3C486B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.Nav a {
    color:white;
    text-decoration:none;
}
.NavLeft {
    display:flex;
}
.NavLeftItem:first-child {
    margin-left: 5px;
}
.NavLeftItem {
margin-left:15px;
}

.NavRight{
    display: flex;
}
.NavRightItem:first-child {
        margin-right: 5px;
}

.NavRightItem {
    margin-right: 15px;
}

footer {
    color:white;
    background-color: #3C486B;
    height:100px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Ccontainer {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-left: 20px;
    transition: width 2s;
}
.Ccontainer * {
    margin-bottom:10px;
}
.Rcontainer {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-left: 20px;
    transition: width 2s;
}

    .Rcontainer * {
        margin-bottom: 10px;
    }
    .Rcontainer dd {
        color:#777;
    }
